BACHS_API_KEY=
BACHS_WEBHOOK_SECRET=
BACHS_API_BASE=https://sandbox-api.bachs.io
BACHS_PRODUCT_PRO_MONTH=
BACHS_PRODUCT_PRO_YEAR=
APP_URL=http://localhost:3000
META_APP_SECRET=
META_VERIFY_TOKEN=flume-verify
TIKTOK_CLIENT_SECRET=
WHATSAPP_VERIFY_TOKEN=flume-wa-verify
